#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(imgs/back.jpg) no-repeat center center;
    background-size: cover;
    /*min-height: 600px;*/
}
#banner_content{
    position: relative;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-top: 6%;
    padding-bottom: 6%;
    max-width: 660px;
    background-color: rgba(0, 0, 0, 0.7);
}
footer{
   
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
@media screen and (min-height: 729px)
{
    footer{
        position: fixed;
    }
}
@media screen and (max-width:1199px)
{
    footer{
        position: fixed;
    }
}

.loginform{
    width: 35%;
    margin-top: 10%;
}
.loginform h1{
    text-align: left;
}
@media screen and (max-width: 768px)
{
    .loginform{
        width: 40%;
        
    }
}
@media screen and (max-width: 600px)
{
    .loginform{
        width: 60%;
        margin-top: 15%;
        
    }
}
@media screen and (max-width: 450px)
{
    .loginform{
        width: 80%;
        margin-top: 20%;
    }
}

.signup_form{
    margin-top: 7%;
    width: 35%;


}

.signup_form h1{
    text-align: left;
}

@media screen and (max-width: 768px)
{
    .signup_form{
        width: 40%;
        
    }
}
@media screen and (max-width: 600px)
{
    .signup_form{
        width: 60%;
        margin-top: 15%;
        
    }
}
@media screen and (max-width: 450px)
{
    .signup_form{
        width: 80%;
        margin-top: 20%;
    }
}
@media screen and (max-height:530px)
{
    .signup_footer{
        position: relative;
    }
}  
    @media screen and (min-width:620px)
{
    .signup_footer{
        position: fixed;
    }
    
}

.welcome{
    margin-top: 8%;
}

.product_page{
    position: relative;
}

.cart table{
    margin-top: 10%;
    width: 50%;
}

@media screen and (max-width: 768px)
{
    .cart table{
        width: 55%;
        
    }
}
@media screen and (max-width: 600px)
{
    .cart table{
        width: 70%;
        margin-top: 15%;
        
    }
}
@media screen and (max-width: 450px)
{
    .cart table{
        width: 80%;
        margin-top: 20%;
    }
}

.change_pass{
    margin-top: 10%;
    width: 33.3%;
    text-align: left;
}

@media screen and (max-width: 768px)
{
    .change_pass{
        width: 40%;
        
    }
}
@media screen and (max-width: 600px)
{
    .change_pass{
        width: 60%;
        margin-top: 15%;
        
    }
}
@media screen and (max-width: 450px)
{
    .change_pass{
        width: 80%;
        margin-top: 20%;
    }
}

.success{
    margin-top: 12%;
}